<form (ngSubmit)="submit()" [formGroup]="formData">
  <input formControlName="x" placeholder="Introduce x" type="text">
  <input formControlName="y" placeholder="Introduce y" type="text">
  <input formControlName="n" placeholder="Introduce n" type="text">
  <button [disabled]="submitting" class="btn btn-primary" type="submit">Submit</button>
</form>

<span *ngIf="calcsInfo.result != 0">
  <div>
    x: {{calcsInfo.x}}
  </div>

  <div>
    y: {{calcsInfo.y}}
  </div>

  <div>
    n: {{calcsInfo.n}}
  </div>

  <div>
    result: {{calcsInfo.result}}
  </div>
</span>
